[submodule "libfprint"]
	path = libfprint
	url = https://gitlab.freedesktop.org/libfprint/libfprint.git
[submodule "vendor/permanet-pod"]
	path = vendor/permanet-pod
	url = https://github.com/PermaNet-io/permanet-pod.git
	branch = dev
